.results-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.vertical-divider-res {
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  width: 5px;
  background-color: #35858b;
}

.status-image {
  max-width: auto;
  width: 200px;
  height: auto;
}
